/* appearance of a download button for resume PDF */
.resume-dlbutton {
  z-index: 100;
  border: 3px solid var(--isabelline);
  border-style: outset;
  border-radius: 5px;
  margin-bottom: 50px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 1fr;
  justify-content: center;
  align-items: center;
}

/* some effects for clicking the button */
.resume-dlbutton:active {
  border-style: inset;
}

.resume-dlbutton__text {
  padding: 5px;
  padding-left: 37px;
  font-weight: bold;
  background-color: var(--isabelline);
  color: var(--dark-gunmetal);
}

.resume-dlbutton__logo {
  background-color: var(--dark-gunmetal);
}

.resume-dlbutton__logo i {
  padding: 5px;
  color: var(--isabelline);
}

