form {
  color: var(--dark-gunmetal);
}

/* the container for form inputs and buttons */
.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__form input, textarea, button {
  margin: 5px;
}

.input-label {
  font-size: 24px;
  font-weight: lighter;
}

.input-field {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: lighter;
  background-color: var(--isabelline);
  color: var(--dark-gunmetal);
}

textarea {
  width: 100%;
  height: calc(5 * 48px);
  border: 2px;
  border-radius: 5px;
  border-style: inset;
  resize: none;
  font-size: 24px;
  font-weight: lighter;
  background-color: var(--isabelline);
  color: var(--dark-gunmetal);
}

/* submit button to make a POST request to formspree to manage contact functionality */
.button-submit {
  width: 100%;
  height: 48px;
  border: 5px;
  border-radius: 5px;
  border-style: outset;
  font-size: 24px;
  background-color: var(--isabelline);
  color: var(--dark-gunmetal);
}

.button-submit:active {
  border-style: inset;
}

.contact__image {
  width: 50%;
}
