main {
  width: 90%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: 80px 10px;
  margin: 0px auto;
}

.home-tagline {
  display: flex;
}

.home-image {
  /* PLACEHOLDER */
  width: 600px;
  height: 400px;
  background-color: red;
  /* PLACEHOLDER */
}

.subject--home {
  display: inline-block;
}

.subject--home__text-1 {
  display: inline-block;
  font-family: 'IBM Plex Mono', monospace;
}

.subject--home__text-2 {
  width: 0%;
  display: inline-block;
  font-family: 'IBM Plex Mono', monospace;
  animation-name: typing, blink;
  animation-duration: 2s, 1.2s;
  animation-timing-function: steps(15, end), step-end;
  animation-delay: 3s, 0s;
  animation-iteration-count: 1, infinite;
  animation-direction: normal, normal;
  animation-fill-mode: forwards, forwards;
  overflow: hidden;
  white-space: nowrap;
  border-right: 20px solid var(--isabelline);
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me__info {
  width: 50%;
  height: 100%;
  padding-left: 40px;
  border-left: 2px solid var(--isabelline);
  margin: 50px 0px 0px auto;
  font-size: 24px;
}

.about-me__info__tech-stack-list {
  margin: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.tech-logo {
  grid-rows: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.logo--tech {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-logo__name {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: none;
  font-size: 18px;
}

.tech-logo:hover .tech-logo__name {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation-name: logo-zoom;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.tech-logo:hover .logo--tech {
  animation-name: logo-zoom;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.about-me__portrait {
  /* PLACEHOLDER */
  width: 200px;
  height: 200px;
  padding-right: 40px;
  background-color: red;
  /* PLACEHOLDER */
}

.heading--portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: var(--isabelline);
  }
}

@keyframes logo-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}