@media only screen and (max-width: 1200px) {
  .shape--home {
    transform: scale(0.8) translateX(-200px);
  }

  .shape--contact {
    transform: scale(0.8);
  }

  .about-me__info__tech-stack-list {
    display: none;
  }

  .cards {
    width: 100%;
    height: 100%;
    margin: 70px 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  .about-me {
    flex-direction: column;
    padding: 100px 0px;
    transform: scale(1.4);
  }

  .about-me>* {
    margin: 30px;
  }

  .main--about-me {
    height: unset;
  }

  .about-me__portrait {
    padding: 0px;
  }

  .about-me__info {
    padding-bottom: 0px;
    font-size: 0.9em;
  }

  .blog-post-list {
    display: none;
  }

  .blog-posts {
    width: 100%;
    padding-right: 0px;
  }

  .blog-posts__post {
    font-size: 0.95em;
  }

  .pop-out {
    display: relative;
    position: fixed;
    top: calc(100vh * 0.25);
    right: 0px;
  }

  .dropbtn--pop-out {
    display: flex;
  }

  .pop-out-tag {
    width: 10px;
    height: calc(100vh * 0.05);
    border-radius: 5px 0px 0px 5px;
    margin: 10px 0;
    display: relative;
    position: fixed;
    top: calc(100vh * 0.475);
    right: 10px;
    background-color: var(--isabelline);
  }

  .pop-out-bar {
    width: 10px;
    height: calc(100vh * 0.5);
    border-radius: 5px 0px 0px 5px;
    margin: 10px 0;
    background-color: var(--isabelline);
  }

  .dropdown-content--pop-out {
    width: 200px;
    border-radius: 5px 0px 0px 5px;
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: var(--isabelline);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: height 1s;
  }

  .dropdown-content--pop-out a {
    margin: 5px 10px;
    display: block;
    text-decoration: none;
  }

  .dropdown-content--pop-out h5,
  h6 {
    display: block;
    text-decoration: none;
    color: var(--dark-gunmetal);
  }

  .blog-post-list__item {
    padding: 0px;
    border-bottom: 1px solid var(--dark-gunmetal);
  }

  .blog-post-list__item:nth-last-child(1) {
    padding: 0px;
    border-bottom: 0px;
  }

  #pop-outControl {
    display: none;
  }

  #pop-outControl:checked+label .dropdown-content--pop-out {
    display: block;
  }

  .pop-out a:hover {
    transform: scale(1.05);
  }

  .main--contact {
    height: 1200px;
  }

  .contact {
    flex-direction: column;
  }

  .contact__form--container {
    padding: 0px;
    border: 0px;
    width: 100%;
  }

  .contact__image {
    padding: 0px;
    width: 100%;
  }

  .shape--contact {
    transform: scale(0.8) translateX(500px) translateY(100px);
  }
}

@media only screen and (max-width: 800px) {

  circle,
  polygon,
  rect {
    transform: scale(0.6) translateX(-300px);
  }

  /* resize and re-arrange header, and create burger menu */
  header {
    height: var(--header-height-mobile);
  }

  .heading__logo {
    margin: 20px;
    font-size: 48px;
  }

  .heading__text {
    margin: 10px;
    font-size: 40px;
  }

  nav {
    display: none;
  }

  .burger {
    margin: 15px;
  }

  .dropbtn {
    padding: 5px;
    border-radius: 5px;
  }

  .burger-lines {
    width: 35px;
    height: 1px;
    margin: 10px 0;
    background-color: var(--isabelline);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: var(--header-height-mobile);
    right: 0px;
    background-color: var(--isabelline);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: height 1s;
  }

  .dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: var(--dark-gunmetal);
  }

  .burger-btn:hover .burger-lines {
    height: 2px;
  }

  #btnControl {
    display: none;
  }

  #btnControl:checked+label .dropdown-content {
    display: block;
  }

  #btnControl:checked+label .burger-lines {
    height: 3px;
  }

  .burger a:hover {
    background-color: #C5C9D1;
  }

  /* resize re-arrange main */
  main {
    height: calc(100vh - var(--header-height-mobile) - var(--footer-height-mobile));
  }

  .home-tagline h2 {
    font-size: 20px;
  }

  .subject--home__text-2 {
    border-right: 12px solid var(--isabelline);
  }

  /* resize and re-arrange footer */
  footer {
    height: var(--footer-height-mobile);
    padding: 0px;
    flex-direction: row;
  }
}

@media only screen and (max-width: 500px) {
  .shape--home {
    transform: scale(0.5) translateX(-350px);
  }

  .shape--contact {
    transform: scale(0.4) translateX(400px) translateY(400px);
  }

  .home-tagline h2 {
    font-size: 14px;
  }

  .subject--home__text-2 {
    border-right: 8px solid var(--isabelline);
  }

  .footer__logos .logo {
    font-size: 20px;
  }

  .about-me {
    flex-direction: column;
    padding: 60px 0px 0px 0px;
    transform: scale(1.8);
  }

  .main--about-me {
    padding: 10px;
    padding-top: 20px;
    height: 710px;
  }

  .about-me__portrait {
    padding: 0px;
    margin: 10px;
    transform: scale(0.9);
  }

  .about-me__info {
    padding-left: 20px;
    margin: 10px;
    font-size: 0.5em;
  }

  /* zzzz */
  .card-container {
    min-width: calc(440px * 0.6);
    height: calc(500px * 0.6);
  }

  .card-front,
  .card-back {
    min-width: calc(440px * 0.6);
    height: calc(500px * 0.6);
  }

  .card-container:active .card-content {
    width: 100%;
  }

  .card h3, h4, p {
    font-size: 0.8em;
  }

  /* zzzz */
  .blog-posts {
    height: 125%;
    transform: translateY(-50px);
  }

  .blog-posts__post {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 801px) {
  .burger {
    display: none;
  }
}

@media only screen and (min-width: 901px) {
  .pop-out {
    display: none;
  }
}