@media only screen and (max-width: 800px) {
  /* burger menu */
  header {
    height: var(--header-height-mobile);
  }

  .heading__logo {
    margin: 20px;
    font-size: 48px;
  }
  
  .heading__text {
    margin: 10px;
    font-size: 40px;
  }

  nav {
    display: none;
  }

  .burger-lines {
    width: 35px;
    height: 4px;
    border-radius: 5px;
    margin: 6px 0;
    background-color: var(--dark-gunmetal);
  }
  
  .dropbtn {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--isabelline);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .burger:hover .dropbtn {
    background-color: blueviolet;
  }
  
  .burger:hover .dropdown-content {
    display: block;
  }
  
  .burger a:hover {
    background-color: cadetblue;
  }

  /* main */
  main {
    height: calc(100vh - var(--header-height-mobile) - var(--footer-height-mobile));
  }

  footer {
    height: var(--footer-height-mobile);
  }

}

@media only screen and (min-width: 801px) {
  .burger {
    display: none;
  }
}